@using keyhanPostWeb.Areas.CMS.Dtos
@using keyhanPostWeb.Areas.KP.KPInterfaces
 @inject IRepresentativeService _rep;
@model VmSiteContent
@{
    ViewData["Title"] = "همکاری با کیهان پست";
     Layout = "_Layout";
}



<section class="job-section section-padding parallax">
    <div class="container">
        <div id="requestContainer">
            @if (Model.jobRequest.CurrentStep == 0)
            {
                @await Html.PartialAsync("_CreateJobRequest_step1.cshtml", Model.jobRequest.dtoStep1)
            }
            else if (Model.jobRequest.CurrentStep == 1)
            {

                @await Html.PartialAsync("_CreateJobRequest_step2", Model.jobRequest)
            }
             else if (Model.jobRequest.CurrentStep == 2)
            {
                @await Html.PartialAsync("_CreateJobRequest_step3.cshtml", Model.jobRequest)
            }

           
        </div>
       
    </div> <!-- end container -->

</section>
<script src="~/js/quine.js"></script>
<script src="~/js/branch.js"></script>